.header {
    position: relative;
    background-color: $DARK_BORDER;
    height: 35px;
    width: 100%;
    
    .header_wrapper {
        width: 90%;
        margin: 0 auto;
        @include clearfix;
        padding-top: 3px;
        .homeicon {
            width: 28px;
            height: 28px; 
            float: left;
            img { 
            }
        }
        .headertext {
            width: 120px;
            height: 28px;
            float: left;
            padding-left: 6px;
            a { color: white ; line-height: 30px; text-decoration: none; }
            a:hover { color: #FE9744; }
        }
    }
}