/* --- NORMALIZE -- */
@import 'normalize';

/* --- MIXIN -- */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin font-size ($sizeValue : 1.6 ){
	font-size: $sizeValue + px;
	font-size: ($sizeValue/10) + rem;
}

/* -- VARIABLE -- */
 
	/* SCREEN SIZES */
	$small-width : 322px;
	$medium-width : 482px;
	$large-width: 770px;
	$xlarge-width: 1024px;
    
    $special : 1340px;
    /* COLORS */

    $background_color: #2FB4BA;

    // NORMAL INTERFACE
        $BORDER_GREEN : #5BC2A7;
        $BACKGROUND_LIGHT : #F4F3F3;
        $BACKGROUND_MID : #CFCBC2;
        $CIRCLE_WHITE : #EFEFEF;
        $CIRCLE_GREY : #A8A7A3;
        $COLOR_PALETTE_CIRCLE : #CFCBC2;
        $DARK_BORDER : #474647;

    // HOVER STATE
    // TOOL
        $BOX_YELLOW : #FFCF56;
        $TOOL_CIRCLE : #FBAF3C;
        $TOOL_CIRCLE_HOVER : #F36E53;

    // OPTIONS
        $BOX_GREEN : #7ECDC3;
        $OPTIONS_CIRCLE : #63A69F;
        $OPTIONS_CIRCLE_HOVER : #2E5E58;

    // COLOR PALETTE
        $BOX_GREY : #A8A091;
        $PALETTE_CIRCLE_HOVER : #A8A091; 

    // SIDEBAR
        $SIDEBAR_BG : #3F997D;

	/* FONTS */
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
	$MainFont: 'Open Sans', sans-serif;

/*-- HEADER --*/
@import 'header';

/*-- CONTENT --*/
@import 'layout';

/*-- SGV --*/
@import 'sgv';

/*-- Color Palletes container --*/
@import 'color_palette';

/*-- Side Bar --*/
@import 'sidebar';


/* Responsive
@media (min-width: $small-width){	

	}	
@media (min-width: $medium-width){	 

}
@media (min-width: $large-width){		
}

@media (min-width: $xlarge-width){	  

}
*/